@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BookingViewModel

@{
    ViewData["Title"] = "Welcome!";
}

<link rel="stylesheet" href="~/css/HomePageStyle.css" asp-append-version="true" />

<div class="IndexPage">

    <div class="outer">

        <div class="inner">

            <div class="prod-left">

                <div class="writer">
                    <h1 class="prod-head"><span class="home-title">The Working Spot</span></h1>
                </div>
                <h4 class="prod-head-sub">
                    Empower your productivity, connect with a thriving community,
                    and redefine your work experience. Discover our flexible workspace, book with ease,
                    and unleash your full potential. Join us at The Working Spot and embark on a journey of success and collaboration.
                    Co-working like never before!
                </h4>
            </div>

            <div class="prod-right">
                <img src="~/img/teamwork2.png" class="prod-human-img" alt="prod" />
            </div>
        </div>
    </div>
</div>

<div class="footer">

    <div id="container">

        <div id="cont">

            <div class="footer_center">
                <h3>© 2023 The Working Spot. All rights reserved. </h3>
            </div>
        </div>
    </div>
</div>

